In [1]:
import pandas as pd
import numpy as np

In [2]:
df_reviews = pd.read_excel('data_analysis_reviews_doctoralia.xlsx')
df_reviews

,Usuário,Gênero,Avaliação (estrelas),Status,Periodo,Review
0,Mayara Thays Beckhauser,Feminino,1,Negativo,1 ano atrás ou menos,"Faço das palavras das muitas reclamações, as m..."
1,Wendy Evangelista,Feminino,1,Negativo,1 ano atrás ou menos,Péssimo para os profissionais que contratam!!!...
2,Lidia Izeppe,Feminino,1,Negativo,1 ano atrás ou menos,Só pense muuuuito bem antes de assinar o contr...
3,Ana Vitoria,Feminino,1,Negativo,1 ano atrás ou menos,diz que o medico atende para meu plano de saúd...
4,Gertrudes Boska,Feminino,5,Positivo,1 ano atrás ou menos,Como não encontrei um local especifico para a ...
...,...,...,...,...,...,...
1135,Pamela Vidolin,Feminino,5,Positivo,5 anos atrás,NaN
1136,Anna Paula Jorge,Feminino,5,Positivo,5 anos atrás,NaN
1137,Mariana Urio,Feminino,5,Positivo,5 anos atrás,NaN
1138,Willian Viana,Masculino,1,Negativo,5 anos atrás,NaN
1139,Joao Favero,Masculino,5,Positivo,5 anos atrás,NaN

Quais perguntas de negócios queremos investigar:

1 – Qual a média das avaliações (estrelas) dos usuários em relação a empresa pesquisada? <br>
2 – Quantas reviews a empresa pesquisada recebeu em cada ano? <br>
3 – Qual o gênero preponderante das pessoas que deixaram as reviews? <br>
4 – Qual o gênero preponderante das pessoas que deixaram as reviews negativas? <br>
5 – Qual a média de reviews (estrelas) para cada gênero? <br>
6 – Como se comporta a distribuição das avaliações positivas e negativas no decorrer dos anos? <br>
7 – Quais foram os comentários negativos mais citados e qual a sua frequência?

# Análise da base

In [3]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1140 entries, 0 to 1139
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Usuário               1140 non-null   object
 1   Gênero                1140 non-null   object
 2   Avaliação (estrelas)  1140 non-null   int64
 3   Status                1140 non-null   object
 4   Periodo               1140 non-null   object
 5   Review                464 non-null    object
dtypes: int64(1), object(5)
memory usage: 53.6+ KB

In [4]:
periodos = df_reviews['Periodo'].drop_duplicates()
periodos

0       1 ano atrás ou menos
56              2 anos atrás
74              3 anos atrás
214             4 anos atrás
1124            5 anos atrás
Name: Periodo, dtype: object

In [5]:
qtd_nomes_usuario = len(df_reviews['Usuário'].drop_duplicates())
qtd_nomes_usuario

1137

In [6]:
#df_usuarios_repetidos = df_reviews['Usuário'].duplicated()
df_usuarios_repetidos = df_reviews[df_reviews['Usuário'].duplicated()]['Usuário']
df_usuarios_repetidos

48     Breno Silveira
396    Rafael Almeida
554    Leonardo Silva
Name: Usuário, dtype: object

Aparentemente há 3 usuários com mais de uma avaliação. Poderia confirmar avaliando o link para o perfil pessoal. Se o perfil é igual, então são as mesmas pessoas.

### 1 – Qual a média das avaliações (estrelas) dos usuários em relação a empresa pesquisada? <br>

In [7]:
media_estrelas = df_reviews['Avaliação (estrelas)'].mean()
media_estrelas

4.753508771929824

In [8]:
std_estrelas = df_reviews['Avaliação (estrelas)'].std()
std_estrelas

0.8798475229624156

In [9]:
df_reviews['Status_review'] = np.where(df_reviews['Review'].isnull(), 'Nulo', 'Não nulo')
#df_reviews

In [10]:
df_reviews.groupby(['Status_review'])['Avaliação (estrelas)'].mean()

Status_review
Nulo        4.897929
Não nulo    4.543103
Name: Avaliação (estrelas), dtype: float64

Não parece haver uma diferença significativa entre as pontuações das avaliações nulas e não nulas.

### 2 – Quantas reviews a empresa pesquisada recebeu em cada ano?

In [11]:
df_reviews.groupby(['Periodo'])['Avaliação (estrelas)'].count()

Periodo
1 ano atrás ou menos     56
2 anos atrás             18
3 anos atrás            140
4 anos atrás            910
5 anos atrás             16
Name: Avaliação (estrelas), dtype: int64

A quantidade para 5 anos está incompleta considerando que o Google Maps não consegue carregar avaliações mais antigas.

In [12]:
df_reviews.groupby(['Status_review','Periodo'])['Avaliação (estrelas)'].count()

Status_review  Periodo
Nulo           1 ano atrás ou menos     20
               2 anos atrás              5
               3 anos atrás             60
               4 anos atrás            581
               5 anos atrás             10
Não nulo       1 ano atrás ou menos     36
               2 anos atrás             13
               3 anos atrás             80
               4 anos atrás            329
               5 anos atrás              6
Name: Avaliação (estrelas), dtype: int64

### 3 – Qual o gênero preponderante das pessoas que deixaram as reviews?

In [13]:
df_reviews.groupby(['Gênero'])['Gênero'].count().sort_values(ascending=False)

Gênero
Feminino                   605
Masculino                  474
Pessoa Jurídica             42
Gênero não identificado     19
Name: Gênero, dtype: int64

In [14]:
df_reviews.groupby(['Gênero','Status_review'])['Gênero'].count()

Gênero                   Status_review
Feminino                 Nulo             333
                         Não nulo         272
Gênero não identificado  Nulo               8
                         Não nulo          11
Masculino                Nulo             305
                         Não nulo         169
Pessoa Jurídica          Nulo              30
                         Não nulo          12
Name: Gênero, dtype: int64

### 4 – Qual o gênero preponderante das pessoas que deixaram as reviews negativas?

In [15]:
df_reviews.groupby(['Status'])['Status'].count().sort_values(ascending=False)

Status
Positivo    1074
Negativo      66
Name: Status, dtype: int64

In [16]:
df_reviews.groupby(['Avaliação (estrelas)'])['Avaliação (estrelas)'].count()

Avaliação (estrelas)
1      53
2       2
3      11
4      41
5    1033
Name: Avaliação (estrelas), dtype: int64

In [17]:
df_reviews.loc[df_reviews['Status'] == 'Negativo'].groupby(['Gênero'])['Gênero'].count().sort_values(ascending=False)

Gênero
Masculino                  31
Feminino                   29
Pessoa Jurídica             4
Gênero não identificado     2
Name: Gênero, dtype: int64

### 5 – Qual a média de reviews (estrelas) para cada gênero?

In [31]:
df_reviews.groupby(['Gênero','Periodo'])['Avaliação (estrelas)'].agg(['mean','std'])

                                                  mean       std
Gênero                  Periodo
Feminino                1 ano atrás ou menos  3.200000  1.989628
                        2 anos atrás          4.000000  2.000000
                        3 anos atrás          4.746479  0.905827
                        4 anos atrás          4.900609  0.477395
                        5 anos atrás          5.000000  0.000000
Gênero não identificado 1 ano atrás ou menos  3.000000  2.828427
                        3 anos atrás          3.000000  2.828427
                        4 anos atrás          4.866667  0.351866
Masculino               1 ano atrás ou menos  3.208333  1.910592
                        2 anos atrás          3.461538  1.808101
                        3 anos atrás          4.459016  1.361051
                        4 anos atrás          4.920981  0.426923
                        5 anos atrás          4.555556  1.333333
Pessoa Jurídica         2 anos atrás          1.000000       NaN
                        3 anos atrás          3.500000  1.974842
                        4 anos atrás          4.885714  0.676123

In [30]:
df_reviews.groupby(['Gênero'])['Avaliação (estrelas)'].agg(['mean','std'])

                             mean       std
Gênero
Feminino                 4.793388  0.794407
Gênero não identificado  4.473684  1.263523
Masculino                4.727848  0.930903
Pessoa Jurídica          4.595238  1.190604

### 6 – Como se comporta a distribuição das avaliações positivas e negativas no decorrer dos anos?

In [19]:
df_reviews.groupby(['Periodo'])['Avaliação (estrelas)'].agg(['mean','std'])

                          mean       std
Periodo
1 ano atrás ou menos  3.196429  1.939256
2 anos atrás          3.444444  1.854160
3 anos atrás          4.542857  1.231315
4 anos atrás          4.907692  0.464642
5 anos atrás          4.750000  1.000000

### 7 – Quais foram os comentários negativos mais citados e qual a sua frequência?

In [20]:
def trocar_textos(texto):
    # concatenar as palavras
    all_summary = " ".join(s for s in summary)

    # Retirando outros caracteres especiais
    all_summary = all_summary.replace(',','')
    all_summary = all_summary.replace(';','')
    all_summary = all_summary.replace('!','')
    all_summary = all_summary.replace(':','')
    all_summary = all_summary.replace('.','')
    all_summary = all_summary.replace('"','')
    all_summary = all_summary.replace('(','')
    all_summary = all_summary.replace(')','')

    # Normalizando palavras gerais
    all_summary = all_summary.replace('medicos','medico')
    all_summary = all_summary.replace('medicas','medico')
    all_summary = all_summary.replace('medica','medico')
    all_summary = all_summary.replace('aplicativo','app')
    all_summary = all_summary.replace('plano','convenio')
    all_summary = all_summary.replace('avaliacoes','avaliacao')
    all_summary = all_summary.replace('consultas','consulta')
    all_summary = all_summary.replace('pacientes','paciente')
    all_summary = all_summary.replace('servicos','servico')
    all_summary = all_summary.replace('profissionais','profissional')
    all_summary = all_summary.replace('opinioes','opiniao')
    all_summary = all_summary.replace('opnioes','opiniao')
    all_summary = all_summary.replace('opniao','opiniao')
    return all_summary

In [21]:
df_reviews.loc[df_reviews['Status'] == 'Negativo'].groupby(['Status_review'])['Status_review'].count()

Status_review
Nulo        12
Não nulo    54
Name: Status_review, dtype: int64

In [22]:
#pip install wordcloud

In [23]:
# importar os pacotes necessários
import matplotlib.pyplot as plt
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

In [24]:
# eliminar as colunas com valores ausentes
#summary = df_reviews.loc[df_reviews['Status'] == 'Negativo'].dropna(subset=['Review'], axis=0)['Review']

from unicodedata import normalize

summary = df_reviews.loc[df_reviews['Status'] == 'Negativo'].dropna(subset=['Review'], axis=0)['Review'].str.normalize('NFKD').str.encode("ascii", errors="ignore").str.decode("ascii").str.lower()
#summary

In [25]:
#'https://gist.github.com/alopes/5358189#file-stopwords-txt'
# https://gist.github.com/alopes/5358189?permalink_comment_id=3477894#gistcomment-3477894
stopwords_portugues = pd.Series(['...', 'a', 'à', 'pra', 'adeus', 'agora', 'aí', 'ainda', 'além', 'algo', 'alguém', 'algum', 'alguma', 'algumas', 'alguns', 'ali', 'ampla', 'amplas', 'amplo', 'amplos', 'ano', 'anos', 'ante', 'antes', 'ao', 'aos', 'apenas', 'apoio', 'após', 'aquela', 'aquelas', 'aquele', 'aqueles', 'aqui', 'aquilo', 'área', 'as', 'às', 'assim', 'até', 'atrás', 'através', 'baixo', 'bastante', 'bem', 'boa', 'boas', 'bom', 'bons', 'breve', 'cá', 'cada', 'catorze', 'cedo', 'cento', 'certamente', 'certeza', 'cima', 'cinco', 'coisa', 'coisas', 'com', 'como', 'conselho', 'contra', 'contudo', 'custa', 'da', 'dá', 'dão', 'daquela', 'daquelas', 'daquele', 'daqueles', 'dar', 'das', 'de', 'debaixo', 'dela', 'delas', 'dele', 'deles', 'demais', 'dentro', 'depois', 'desde', 'dessa', 'dessas', 'desse', 'desses', 'desta', 'destas', 'deste', 'destes', 'deve', 'devem', 'devendo', 'dever', 'deverá', 'deverão', 'deveria', 'deveriam', 'devia', 'deviam', 'dez', 'dezanove', 'dezasseis', 'dezassete', 'dezoito', 'dia', 'diante', 'disse', 'disso', 'disto', 'dito', 'diz', 'dizem', 'dizer', 'do', 'dois', 'dos', 'doze', 'duas', 'dúvida', 'e', 'é', 'ela', 'elas', 'ele', 'eles', 'em', 'embora', 'enquanto', 'entre', 'era', 'eram', 'éramos', 'és', 'essa', 'essas', 'esse', 'esses', 'esta', 'está', 'estamos', 'estão', 'estar', 'estas', 'estás', 'estava', 'estavam', 'estávamos', 'este', 'esteja', 'estejam', 'estejamos', 'estes', 'esteve', 'estive', 'estivemos', 'estiver', 'estivera', 'estiveram', 'estivéramos', 'estiverem', 'estivermos', 'estivesse', 'estivessem', 'estivéssemos', 'estiveste', 'estivestes', 'estou', 'etc', 'eu', 'exemplo', 'faço', 'falta', 'favor', 'faz', 'fazeis', 'fazem', 'fazemos', 'fazendo', 'fazer', 'fazes', 'feita', 'feitas', 'feito', 'feitos', 'fez', 'fim', 'final', 'foi', 'fomos', 'for', 'fora', 'foram', 'fôramos', 'forem', 'forma', 'formos', 'fosse', 'fossem', 'fôssemos', 'foste', 'fostes', 'fui', 'geral', 'grande', 'grandes', 'grupo', 'há', 'haja', 'hajam', 'hajamos', 'hão', 'havemos', 'havia', 'hei', 'hoje', 'hora', 'horas', 'houve', 'houvemos', 'houver', 'houvera', 'houverá', 'houveram', 'houvéramos', 'houverão', 'houverei', 'houverem', 'houveremos', 'houveria', 'houveriam', 'houveríamos', 'houvermos', 'houvesse', 'houvessem', 'houvéssemos', 'isso', 'isto', 'já', 'la', 'lá', 'lado', 'lhe', 'lhes', 'lo', 'local', 'logo', 'longe', 'lugar', 'maior', 'maioria', 'mais', 'mal', 'mas', 'máximo', 'me', 'meio', 'menor', 'menos', 'mês', 'meses', 'mesma', 'mesmas', 'mesmo', 'mesmos', 'meu', 'meus', 'mil', 'minha', 'minhas', 'momento', 'muita', 'muitas', 'muito', 'muitos', 'na', 'nada', 'não', 'naquela', 'naquelas', 'naquele', 'naqueles', 'nas', 'nem', 'nenhum', 'nenhuma', 'nessa', 'nessas', 'nesse', 'nesses', 'nesta', 'nestas', 'neste', 'nestes', 'ninguém', 'nível', 'no', 'noite', 'nome', 'nos', 'nós', 'nossa', 'nossas', 'nosso', 'nossos', 'nova', 'novas', 'nove', 'novo', 'novos', 'num', 'numa', 'número', 'nunca', 'o', 'obra', 'obrigada', 'obrigado', 'oitava', 'oitavo', 'oito', 'onde', 'ontem', 'onze', 'os', 'ou', 'outra', 'outras', 'outro', 'outros', 'para', 'parece', 'parte', 'partir', 'paucas', 'pela', 'pelas', 'pelo', 'pelos', 'pequena', 'pequenas', 'pequeno', 'pequenos', 'per', 'perante', 'perto', 'pode', 'pude', 'pôde', 'podem', 'podendo', 'poder', 'poderia', 'poderiam', 'podia', 'podiam', 'põe', 'põem', 'pois', 'ponto', 'pontos', 'por', 'porém', 'porque', 'porquê', 'posição', 'possível', 'possivelmente', 'posso', 'pouca', 'poucas', 'pouco', 'poucos', 'primeira', 'primeiras', 'primeiro', 'primeiros', 'própria', 'próprias', 'próprio', 'próprios', 'próxima', 'próximas', 'próximo', 'próximos', 'pude', 'puderam', 'quais', 'quáis', 'qual', 'quando', 'quanto', 'quantos', 'quarta', 'quarto', 'quatro', 'que', 'quê', 'quem', 'quer', 'quereis', 'querem', 'queremas', 'queres', 'quero', 'questão', 'quinta', 'quinto', 'quinze', 'relação', 'sabe', 'sabem', 'são', 'se', 'segunda', 'segundo', 'sei', 'seis', 'seja', 'sejam', 'sejamos', 'sem', 'sempre', 'sendo', 'ser', 'será', 'serão', 'serei', 'seremos', 'seria', 'seriam', 'seríamos', 'sete', 'sétima', 'sétimo', 'seu', 'seus', 'sexta', 'sexto', 'si', 'sido', 'sim', 'sistema', 'só', 'sob', 'sobre', 'sois', 'somos', 'sou', 'sua', 'suas', 'tal', 'talvez', 'também', 'tampouco', 'tanta', 'tantas', 'tanto', 'tão', 'tarde', 'te', 'tem', 'tém', 'têm', 'temos', 'tendes', 'tendo', 'tenha', 'tenham', 'tenhamos', 'tenho', 'tens', 'ter', 'terá', 'terão', 'terceira', 'terceiro', 'terei', 'teremos', 'teria', 'teriam', 'teríamos', 'teu', 'teus', 'teve', 'ti', 'tido', 'tinha', 'tinham', 'tínhamos', 'tive', 'tivemos', 'tiver', 'tivera', 'tiveram', 'tivéramos', 'tiverem', 'tivermos', 'tivesse', 'tivessem', 'tivéssemos', 'tiveste', 'tivestes', 'toda', 'todas', 'todavia', 'todo', 'todos', 'trabalho', 'três', 'treze', 'tu', 'tua', 'tuas', 'tudo', 'última', 'últimas', 'último', 'últimos', 'um', 'uma', 'umas', 'uns', 'vai', 'vais', 'vão', 'vários', 'vem', 'vêm', 'vendo', 'vens', 'ver', 'vez', 'vezes', 'viagem', 'vindo', 'vinte', 'vir', 'você', 'vocês', 'vos', 'vós', 'vossa', 'vossas', 'vosso', 'vossos', 'zero', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0', '_' ,
                      'Doctoralia']).str.normalize('NFKD').str.encode("ascii", errors="ignore").str.decode("ascii").str.lower().drop_duplicates()

In [26]:
# concatenar as palavras
all_summary = " ".join(s for s in summary)

all_summary = trocar_textos(all_summary)

# lista de stopword
stopwords = set(STOPWORDS)
stopwords.update(stopwords_portugues)

In [27]:
palavras = all_summary.split()

df_palavras = pd.DataFrame(palavras, columns = ['Palavras'])

df_palavras_tratadas =  df_palavras[~df_palavras.Palavras.isin(stopwords_portugues)].groupby(by = 'Palavras')['Palavras'].count().sort_values(ascending=False)
df_palavras_tratadas.head(20)

Palavras
medico          29
plataforma      24
avaliacao       19
site            17
servico         16
profissional    14
consulta        13
opiniao          9
convenio         7
paciente         6
atendimento      6
negativas        5
positivas        5
ruim             5
fiz              5
recebi           4
saude            4
aceita           4
consultorio      4
tempo            4
Name: Palavras, dtype: int64

In [28]:
'''
# gerar uma wordcloud
wordcloud = WordCloud(stopwords=stopwords,
                      background_color="black",
                      width=1600, height=800,normalize_plurals=False).generate(all_summary)
# mostrar a imagem final
fig, ax = plt.subplots(figsize=(10,6))
ax.imshow(wordcloud, interpolation='bilinear')
ax.set_axis_off()
plt.imshow(wordcloud);
wordcloud.to_file("summary_wordcloud.png")
'''

'\n# gerar uma wordcloud\nwordcloud = WordCloud(stopwords=stopwords,\n                      background_color="black",\n                      width=1600, height=800,normalize_plurals=False).generate(all_summary)\n# mostrar a imagem final\nfig, ax = plt.subplots(figsize=(10,6))\nax.imshow(wordcloud, interpolation=\'bilinear\')\nax.set_axis_off()\nplt.imshow(wordcloud);\nwordcloud.to_file("summary_wordcloud.png")\n'