In [1]:
import pandas as pd
import numpy as np

In [2]:
tb_caged = pd.read_excel('3-tabelas.xlsx', 'Tabela 6')

In [3]:
tb_caged

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210,Unnamed: 211,Unnamed: 212,Unnamed: 213
0,NaN,"TABELA 6 - EVOLUÇÃO MENSAL DE ESTOQUE, ADMISSÕ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Grupamento de Atividades Econômicas e Seção CN...,Janeiro/2020,NaN,NaN,NaN,Fevereiro/2020,NaN,NaN,NaN,...,NaN,NaN,Acumulado do Ano (2023),NaN,NaN,NaN,Últimos 12 Meses** (Jun/22 a Mai/23) - com ajuste,NaN,NaN,NaN
4,NaN,NaN,Estoque,Admissões,Desligamentos,Saldos,Estoque,Admissões,Desligamentos,Saldos,...,Saldos,Variação Relativa (%),Admissões,Desligamentos,Saldos,Variação Relativa (%),Admissões,Desligamentos,Saldos,Variação Relativa (%)
5,NaN,Total,37502058,1384986,1292308,92678,37700426,1483832,1285464,198368,...,155270,0.359882,9857969,9002441,855528,2.015643,22542033,20768997,1773036,4.269607
6,NaN,"Agricultura, pecuária, produção florestal, pes...",1427862,69520,53425,16095,1432804,70254,65312,4942,...,19559,1.132158,565923,504363,61560,3.652147,1231021,1158500,72521,4.330587
7,NaN,Indústria geral,7550221,240766,184933,55833,7586453,250477,214245,36232,...,8429,0.099729,1534586,1412057,122529,1.469554,3411006,3211850,199156,2.410737
8,NaN,Indústrias Extrativas,218065,3284,3127,157,219404,4463,3124,1339,...,2644,1.01955,32195,23844,8351,3.292682,71535,56676,14859,6.01299
9,NaN,Indústrias de Transformação,6860903,229525,174052,55473,6894126,236146,202923,33223,...,5757,0.075009,1440136,1331389,108747,1.436146,3198506,3028973,169533,2.257023
10,NaN,Eletricidade e Gás,127679,1161,1444,-283,127970,1492,1201,291,...,213,0.162046,8596,8138,458,0.349088,19045,18390,655,0.499992
11,NaN,"Água, Esgoto, Atividades de Gestão de Resíduos...",343574,6796,6310,486,344953,8376,6997,1379,...,-185,-0.047924,53659,48686,4973,1.305685,121920,107811,14109,3.795425
12,NaN,Construção,1875396,143164,111392,31772,1898863,137113,113646,23467,...,27958,1.099616,990068,840321,149747,6.186016,2230223,2039741,190482,8.003449
13,NaN,Comércio; reparação de veículos automotores e ...,8586009,308116,361605,-53489,8592252,333131,326888,6243,...,15412,0.159573,2186812,2180135,6677,0.06907,5287214,4956877,330337,3.535531
14,NaN,Serviços,18062559,623420,580953,42467,18190044,692857,565372,127485,...,83915,0.40413,4580580,4065562,515018,2.532884,10382569,9402026,980543,4.935353
15,NaN,"Transporte, armazenagem e correio",2318213,65619,67714,-2095,2326462,75198,66949,8249,...,7513,0.291363,527424,460995,66429,2.636436,1198310,1069285,129025,5.251203
16,NaN,Alojamento e alimentação,1796196,93304,90524,2780,1807886,98571,86881,11690,...,5346,0.278641,612169,573231,38938,2.065667,1420966,1281102,139864,7.839546
17,NaN,"Informação, comunicação e atividades financeir...",7605776,315820,290143,25677,7635498,304794,275072,29722,...,37731,0.412728,2275249,2124667,150582,1.66776,5333181,4899113,434068,4.963325
18,NaN,Informação e Comunicação,924244,30854,25332,5522,928317,29035,24962,4073,...,2993,0.261008,186173,179262,6911,0.604749,465707,429519,36188,3.249901
19,NaN,"Atividades Financeiras, de Seguros e Serviços ...",960308,14406,12676,1730,962207,14331,12432,1899,...,180,0.017123,95176,94799,377,0.035869,228872,209278,19594,1.898962
20,NaN,Atividades Imobiliárias,158800,5654,4591,1063,159896,5649,4553,1096,...,473,0.251688,36628,34270,2358,1.267428,82772,78651,4121,2.236234
21,NaN,"Atividades Profissionais, Científicas e Técnicas",1120846,48125,39035,9090,1127981,45017,37882,7135,...,4231,0.291654,355113,315427,39686,2.804195,818541,726587,91954,6.746595
22,NaN,Atividades Administrativas e Serviços Compleme...,4441578,216781,208509,8272,4457097,210762,195243,15519,...,29854,0.562723,1602159,1500909,101250,1.934511,3737289,3455078,282211,5.585108
23,NaN,"Administração pública, defesa e seguridade soc...",5168761,109618,97563,12055,5239214,168044,97591,70453,...,26116,0.449711,897942,678931,219011,3.900888,1824698,1612284,212414,3.778946
24,NaN,"Administração Pública, Defesa e Seguridade Social",977901,3961,4406,-445,989152,15470,4219,11251,...,2716,0.26215,74632,30645,43987,4.421799,127064,86607,40457,4.052565
25,NaN,Educação,1809223,50125,43144,6981,1858712,92291,42802,49489,...,9524,0.485612,369071,258316,110755,5.954554,684434,611261,73173,3.856108
26,NaN,Saúde Humana e Serviços Sociais,2381637,55532,50013,5519,2391350,60283,50570,9713,...,13876,0.493808,454239,389970,64269,2.328919,1013200,914416,98784,3.624979
27,NaN,Serviços domésticos,650,68,67,1,654,69,65,4,...,26,2.120718,383,364,19,1.540957,1256,1131,125,11.091393
28,NaN,Outros serviços,1172963,38991,34942,4049,1180330,46181,38814,7367,...,7183,0.545472,267413,227374,40039,3.118336,604158,539111,65047,5.166651
29,NaN,"Artes, Cultura, Esporte e Recreação",240515,9984,8064,1920,241986,9603,8132,1471,...,2334,0.878249,66849,54944,11905,4.647032,148811,123206,25605,10.559416
30,NaN,Outras Atividades de Serviços,929512,28972,26848,2124,935400,36552,30664,5888,...,4839,0.461706,200334,172189,28145,2.746486,454813,415368,39445,3.892097
31,NaN,Organismos Internacionais e Outras Instituiçõe...,2936,35,30,5,2944,26,18,8,...,10,0.331565,230,241,-11,-0.3622,534,537,-3,-0.099043
32,NaN,Não identificado***,---,0,0,0,---,0,1,-1,...,-3,---,0,3,-3,---,0,3,-3,---
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,Fonte: Novo Caged – MTE.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,* A variação mensal do emprego toma como refer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,** Resultados acrescidos dos ajustes; a variaç...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,*** O estoque total considera os saldos não id...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,**** O estoque da competência dezembro/2022 re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
primeiro_mes = tb_caged.loc[3][2]
primeiro_mes

'Janeiro/2020'

In [5]:
#removendo a coluna de variação, que tem uma unidade de medida diferente das outras numéricas
tb_caged.drop(columns=tb_caged.columns[(tb_caged == 'Variação Relativa (%)').any()], inplace = True)

In [6]:
tb_caged

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 210,Unnamed: 211,Unnamed: 212
0,NaN,"TABELA 6 - EVOLUÇÃO MENSAL DE ESTOQUE, ADMISSÕ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Grupamento de Atividades Econômicas e Seção CN...,Janeiro/2020,NaN,NaN,NaN,Fevereiro/2020,NaN,NaN,NaN,...,Maio/2023,NaN,NaN,NaN,Acumulado do Ano (2023),NaN,NaN,Últimos 12 Meses** (Jun/22 a Mai/23) - com ajuste,NaN,NaN
4,NaN,NaN,Estoque,Admissões,Desligamentos,Saldos,Estoque,Admissões,Desligamentos,Saldos,...,Estoque,Admissões,Desligamentos,Saldos,Admissões,Desligamentos,Saldos,Admissões,Desligamentos,Saldos
5,NaN,Total,37502058,1384986,1292308,92678,37700426,1483832,1285464,198368,...,43299953,2000202,1844932,155270,9857969,9002441,855528,22542033,20768997,1773036
6,NaN,"Agricultura, pecuária, produção florestal, pes...",1427862,69520,53425,16095,1432804,70254,65312,4942,...,1747144,128396,108837,19559,565923,504363,61560,1231021,1158500,72521
7,NaN,Indústria geral,7550221,240766,184933,55833,7586453,250477,214245,36232,...,8460364,305955,297526,8429,1534586,1412057,122529,3411006,3211850,199156
8,NaN,Indústrias Extrativas,218065,3284,3127,157,219404,4463,3124,1339,...,261974,7583,4939,2644,32195,23844,8351,71535,56676,14859
9,NaN,Indústrias de Transformação,6860903,229525,174052,55473,6894126,236146,202923,33223,...,7680887,286309,280552,5757,1440136,1331389,108747,3198506,3028973,169533
10,NaN,Eletricidade e Gás,127679,1161,1444,-283,127970,1492,1201,291,...,131657,1801,1588,213,8596,8138,458,19045,18390,655
11,NaN,"Água, Esgoto, Atividades de Gestão de Resíduos...",343574,6796,6310,486,344953,8376,6997,1379,...,385846,10262,10447,-185,53659,48686,4973,121920,107811,14109
12,NaN,Construção,1875396,143164,111392,31772,1898863,137113,113646,23467,...,2570481,208231,180273,27958,990068,840321,149747,2230223,2039741,190482
13,NaN,Comércio; reparação de veículos automotores e ...,8586009,308116,361605,-53489,8592252,333131,326888,6243,...,9673686,449993,434581,15412,2186812,2180135,6677,5287214,4956877,330337
14,NaN,Serviços,18062559,623420,580953,42467,18190044,692857,565372,127485,...,20848281,907627,823712,83915,4580580,4065562,515018,10382569,9402026,980543
15,NaN,"Transporte, armazenagem e correio",2318213,65619,67714,-2095,2326462,75198,66949,8249,...,2586081,106583,99070,7513,527424,460995,66429,1198310,1069285,129025
16,NaN,Alojamento e alimentação,1796196,93304,90524,2780,1807886,98571,86881,11690,...,1923947,120181,114835,5346,612169,573231,38938,1420966,1281102,139864
17,NaN,"Informação, comunicação e atividades financeir...",7605776,315820,290143,25677,7635498,304794,275072,29722,...,9179577,470911,433180,37731,2275249,2124667,150582,5333181,4899113,434068
18,NaN,Informação e Comunicação,924244,30854,25332,5522,928317,29035,24962,4073,...,1149699,39479,36486,2993,186173,179262,6911,465707,429519,36188
19,NaN,"Atividades Financeiras, de Seguros e Serviços ...",960308,14406,12676,1730,962207,14331,12432,1899,...,1051421,19556,19376,180,95176,94799,377,228872,209278,19594
20,NaN,Atividades Imobiliárias,158800,5654,4591,1063,159896,5649,4553,1096,...,188404,7530,7057,473,36628,34270,2358,82772,78651,4121
21,NaN,"Atividades Profissionais, Científicas e Técnicas",1120846,48125,39035,9090,1127981,45017,37882,7135,...,1454923,70531,66300,4231,355113,315427,39686,818541,726587,91954
22,NaN,Atividades Administrativas e Serviços Compleme...,4441578,216781,208509,8272,4457097,210762,195243,15519,...,5335130,333815,303961,29854,1602159,1500909,101250,3737289,3455078,282211
23,NaN,"Administração pública, defesa e seguridade soc...",5168761,109618,97563,12055,5239214,168044,97591,70453,...,5833399,157428,131312,26116,897942,678931,219011,1824698,1612284,212414
24,NaN,"Administração Pública, Defesa e Seguridade Social",977901,3961,4406,-445,989152,15470,4219,11251,...,1038763,8810,6094,2716,74632,30645,43987,127064,86607,40457
25,NaN,Educação,1809223,50125,43144,6981,1858712,92291,42802,49489,...,1970760,55429,45905,9524,369071,258316,110755,684434,611261,73173
26,NaN,Saúde Humana e Serviços Sociais,2381637,55532,50013,5519,2391350,60283,50570,9713,...,2823876,93189,79313,13876,454239,389970,64269,1013200,914416,98784
27,NaN,Serviços domésticos,650,68,67,1,654,69,65,4,...,1252,86,60,26,383,364,19,1256,1131,125
28,NaN,Outros serviços,1172963,38991,34942,4049,1180330,46181,38814,7367,...,1324025,52438,45255,7183,267413,227374,40039,604158,539111,65047
29,NaN,"Artes, Cultura, Esporte e Recreação",240515,9984,8064,1920,241986,9603,8132,1471,...,268090,12945,10611,2334,66849,54944,11905,148811,123206,25605
30,NaN,Outras Atividades de Serviços,929512,28972,26848,2124,935400,36552,30664,5888,...,1052909,39431,34592,4839,200334,172189,28145,454813,415368,39445
31,NaN,Organismos Internacionais e Outras Instituiçõe...,2936,35,30,5,2944,26,18,8,...,3026,62,52,10,230,241,-11,534,537,-3
32,NaN,Não identificado***,---,0,0,0,---,0,1,-1,...,---,0,3,-3,0,3,-3,0,3,-3
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,Fonte: Novo Caged – MTE.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,* A variação mensal do emprego toma como refer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,** Resultados acrescidos dos ajustes; a variaç...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,*** O estoque total considera os saldos não id...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,**** O estoque da competência dezembro/2022 re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
tb_caged = tb_caged.drop(tb_caged.index[[0,1,2,3,4]])

In [8]:
tb_caged

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 210,Unnamed: 211,Unnamed: 212
5,NaN,Total,37502058,1384986,1292308,92678,37700426,1483832,1285464,198368,...,43299953,2000202,1844932,155270,9857969,9002441,855528,22542033,20768997,1773036
6,NaN,"Agricultura, pecuária, produção florestal, pes...",1427862,69520,53425,16095,1432804,70254,65312,4942,...,1747144,128396,108837,19559,565923,504363,61560,1231021,1158500,72521
7,NaN,Indústria geral,7550221,240766,184933,55833,7586453,250477,214245,36232,...,8460364,305955,297526,8429,1534586,1412057,122529,3411006,3211850,199156
8,NaN,Indústrias Extrativas,218065,3284,3127,157,219404,4463,3124,1339,...,261974,7583,4939,2644,32195,23844,8351,71535,56676,14859
9,NaN,Indústrias de Transformação,6860903,229525,174052,55473,6894126,236146,202923,33223,...,7680887,286309,280552,5757,1440136,1331389,108747,3198506,3028973,169533
10,NaN,Eletricidade e Gás,127679,1161,1444,-283,127970,1492,1201,291,...,131657,1801,1588,213,8596,8138,458,19045,18390,655
11,NaN,"Água, Esgoto, Atividades de Gestão de Resíduos...",343574,6796,6310,486,344953,8376,6997,1379,...,385846,10262,10447,-185,53659,48686,4973,121920,107811,14109
12,NaN,Construção,1875396,143164,111392,31772,1898863,137113,113646,23467,...,2570481,208231,180273,27958,990068,840321,149747,2230223,2039741,190482
13,NaN,Comércio; reparação de veículos automotores e ...,8586009,308116,361605,-53489,8592252,333131,326888,6243,...,9673686,449993,434581,15412,2186812,2180135,6677,5287214,4956877,330337
14,NaN,Serviços,18062559,623420,580953,42467,18190044,692857,565372,127485,...,20848281,907627,823712,83915,4580580,4065562,515018,10382569,9402026,980543
15,NaN,"Transporte, armazenagem e correio",2318213,65619,67714,-2095,2326462,75198,66949,8249,...,2586081,106583,99070,7513,527424,460995,66429,1198310,1069285,129025
16,NaN,Alojamento e alimentação,1796196,93304,90524,2780,1807886,98571,86881,11690,...,1923947,120181,114835,5346,612169,573231,38938,1420966,1281102,139864
17,NaN,"Informação, comunicação e atividades financeir...",7605776,315820,290143,25677,7635498,304794,275072,29722,...,9179577,470911,433180,37731,2275249,2124667,150582,5333181,4899113,434068
18,NaN,Informação e Comunicação,924244,30854,25332,5522,928317,29035,24962,4073,...,1149699,39479,36486,2993,186173,179262,6911,465707,429519,36188
19,NaN,"Atividades Financeiras, de Seguros e Serviços ...",960308,14406,12676,1730,962207,14331,12432,1899,...,1051421,19556,19376,180,95176,94799,377,228872,209278,19594
20,NaN,Atividades Imobiliárias,158800,5654,4591,1063,159896,5649,4553,1096,...,188404,7530,7057,473,36628,34270,2358,82772,78651,4121
21,NaN,"Atividades Profissionais, Científicas e Técnicas",1120846,48125,39035,9090,1127981,45017,37882,7135,...,1454923,70531,66300,4231,355113,315427,39686,818541,726587,91954
22,NaN,Atividades Administrativas e Serviços Compleme...,4441578,216781,208509,8272,4457097,210762,195243,15519,...,5335130,333815,303961,29854,1602159,1500909,101250,3737289,3455078,282211
23,NaN,"Administração pública, defesa e seguridade soc...",5168761,109618,97563,12055,5239214,168044,97591,70453,...,5833399,157428,131312,26116,897942,678931,219011,1824698,1612284,212414
24,NaN,"Administração Pública, Defesa e Seguridade Social",977901,3961,4406,-445,989152,15470,4219,11251,...,1038763,8810,6094,2716,74632,30645,43987,127064,86607,40457
25,NaN,Educação,1809223,50125,43144,6981,1858712,92291,42802,49489,...,1970760,55429,45905,9524,369071,258316,110755,684434,611261,73173
26,NaN,Saúde Humana e Serviços Sociais,2381637,55532,50013,5519,2391350,60283,50570,9713,...,2823876,93189,79313,13876,454239,389970,64269,1013200,914416,98784
27,NaN,Serviços domésticos,650,68,67,1,654,69,65,4,...,1252,86,60,26,383,364,19,1256,1131,125
28,NaN,Outros serviços,1172963,38991,34942,4049,1180330,46181,38814,7367,...,1324025,52438,45255,7183,267413,227374,40039,604158,539111,65047
29,NaN,"Artes, Cultura, Esporte e Recreação",240515,9984,8064,1920,241986,9603,8132,1471,...,268090,12945,10611,2334,66849,54944,11905,148811,123206,25605
30,NaN,Outras Atividades de Serviços,929512,28972,26848,2124,935400,36552,30664,5888,...,1052909,39431,34592,4839,200334,172189,28145,454813,415368,39445
31,NaN,Organismos Internacionais e Outras Instituiçõe...,2936,35,30,5,2944,26,18,8,...,3026,62,52,10,230,241,-11,534,537,-3
32,NaN,Não identificado***,---,0,0,0,---,0,1,-1,...,---,0,3,-3,0,3,-3,0,3,-3
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,Fonte: Novo Caged – MTE.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,* A variação mensal do emprego toma como refer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,** Resultados acrescidos dos ajustes; a variaç...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,*** O estoque total considera os saldos não id...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,**** O estoque da competência dezembro/2022 re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
tb_caged.drop(columns=['Unnamed: 0'], inplace = True) # removendo essa coluna que não tem informações
tb_caged.dropna(subset = ['Unnamed: 2'], inplace=True) # removendo todas as linhas em que o código do município está vazio

n = 6 # Quantidade de colunas a remover do final da tabela
tb_caged.drop(columns=tb_caged.columns[-n:], axis=1, inplace=True) # removendo as últimas n colunas, que não tratam dos dados históricos

In [10]:
tb_caged

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 11,...,Unnamed: 193,Unnamed: 194,Unnamed: 196,Unnamed: 197,Unnamed: 198,Unnamed: 199,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204
5,Total,37502058,1384986,1292308,92678,37700426,1483832,1285464,198368,37468110,...,1973247,195171,43144683,1865279,1685274,180005,43299953,2000202,1844932,155270
6,"Agricultura, pecuária, produção florestal, pes...",1427862,69520,53425,16095,1432804,70254,65312,4942,1428355,...,117933,-332,1727585,103483,100581,2902,1747144,128396,108837,19559
7,Indústria geral,7550221,240766,184933,55833,7586453,250477,214245,36232,7552712,...,313986,20984,8451935,291273,272560,18713,8460364,305955,297526,8429
8,Indústrias Extrativas,218065,3284,3127,157,219404,4463,3124,1339,219211,...,5154,1566,259330,6933,4458,2475,261974,7583,4939,2644
9,Indústrias de Transformação,6860903,229525,174052,55473,6894126,236146,202923,33223,6859943,...,296808,17876,7675130,271801,257615,14186,7680887,286309,280552,5757
10,Eletricidade e Gás,127679,1161,1444,-283,127970,1492,1201,291,128139,...,1630,92,131444,1958,1887,71,131657,1801,1588,213
11,"Água, Esgoto, Atividades de Gestão de Resíduos...",343574,6796,6310,486,344953,8376,6997,1379,345419,...,10394,1450,386031,10581,8600,1981,385846,10262,10447,-185
12,Construção,1875396,143164,111392,31772,1898863,137113,113646,23467,1885686,...,182739,33641,2542523,183566,156629,26937,2570481,208231,180273,27958
13,Comércio; reparação de veículos automotores e ...,8586009,308116,361605,-53489,8592252,333131,326888,6243,8519525,...,473942,18555,9658274,423690,396131,27559,9673686,449993,434581,15412
14,Serviços,18062559,623420,580953,42467,18190044,692857,565372,127485,18081822,...,884647,122323,20764366,863267,759373,103894,20848281,907627,823712,83915
15,"Transporte, armazenagem e correio",2318213,65619,67714,-2095,2326462,75198,66949,8249,2321012,...,96490,23422,2578568,103011,86906,16105,2586081,106583,99070,7513
16,Alojamento e alimentação,1796196,93304,90524,2780,1807886,98571,86881,11690,1726512,...,125710,11313,1918601,116169,106999,9170,1923947,120181,114835,5346
17,"Informação, comunicação e atividades financeir...",7605776,315820,290143,25677,7635498,304794,275072,29722,7599303,...,461140,35467,9141846,433638,401727,31911,9179577,470911,433180,37731
18,Informação e Comunicação,924244,30854,25332,5522,928317,29035,24962,4073,928286,...,38451,1168,1146706,36199,33659,2540,1149699,39479,36486,2993
19,"Atividades Financeiras, de Seguros e Serviços ...",960308,14406,12676,1730,962207,14331,12432,1899,964044,...,20329,-549,1051241,19009,18698,311,1051421,19556,19376,180
20,Atividades Imobiliárias,158800,5654,4591,1063,159896,5649,4553,1096,159908,...,7642,640,187931,7115,6457,658,188404,7530,7057,473
21,"Atividades Profissionais, Científicas e Técnicas",1120846,48125,39035,9090,1127981,45017,37882,7135,1125959,...,69451,9835,1450692,66151,58534,7617,1454923,70531,66300,4231
22,Atividades Administrativas e Serviços Compleme...,4441578,216781,208509,8272,4457097,210762,195243,15519,4421106,...,325267,24373,5305276,305164,284379,20785,5335130,333815,303961,29854
23,"Administração pública, defesa e seguridade soc...",5168761,109618,97563,12055,5239214,168044,97591,70453,5262464,...,149527,44913,5807283,159529,121391,38138,5833399,157428,131312,26116
24,"Administração Pública, Defesa e Seguridade Social",977901,3961,4406,-445,989152,15470,4219,11251,992624,...,5767,8365,1036047,9386,4805,4581,1038763,8810,6094,2716
25,Educação,1809223,50125,43144,6981,1858712,92291,42802,49489,1869023,...,56850,22334,1961236,57981,42758,15223,1970760,55429,45905,9524
26,Saúde Humana e Serviços Sociais,2381637,55532,50013,5519,2391350,60283,50570,9713,2400817,...,86910,14214,2810000,92162,73828,18334,2823876,93189,79313,13876
27,Serviços domésticos,650,68,67,1,654,69,65,4,663,...,86,-13,1226,56,56,0,1252,86,60,26
28,Outros serviços,1172963,38991,34942,4049,1180330,46181,38814,7367,1171868,...,51694,7221,1316842,50864,42294,8570,1324025,52438,45255,7183
29,"Artes, Cultura, Esporte e Recreação",240515,9984,8064,1920,241986,9603,8132,1471,236674,...,12732,1317,265756,13142,10542,2600,268090,12945,10611,2334
30,Outras Atividades de Serviços,929512,28972,26848,2124,935400,36552,30664,5888,932243,...,38906,5913,1048070,37670,31706,5964,1052909,39431,34592,4839
31,Organismos Internacionais e Outras Instituiçõe...,2936,35,30,5,2944,26,18,8,2951,...,56,-9,3016,52,46,6,3026,62,52,10
32,Não identificado***,---,0,0,0,---,0,1,-1,---,...,0,0,---,0,0,0,---,0,3,-3

In [11]:
mes = primeiro_mes[:-5]

if mes == 'Janeiro':
    mes_inicial = 1
elif mes == 'Fevereiro':
    mes_inicial = 2
elif mes == 'Março':
    mes_inicial = 3
elif mes == 'Abril':
    mes_inicial = 4
elif mes == 'Maio':
    mes_inicial = 5
elif mes == 'Junho':
    mes_inicial = 6
elif mes == 'Julho':
    mes_inicial = 7
elif mes == 'Agosto':
    mes_inicial = 8
elif mes == 'Setembro':
    mes_inicial = 9
elif mes == 'Outubro':
    mes_inicial = 10
elif mes == 'Novembro':
    mes_inicial = 11
elif mes == 'Dezembro':
    mes_inicial = 12

In [12]:
total_meses = int(((len(tb_caged.columns))-1)/4)
ano_inicial = int((primeiro_mes[len(primeiro_mes)-4:]))
ano_final = ano_inicial + int((total_meses/12))

column_movimentos = []

if mes_inicial != 1:
    for m in range(mes_inicial,12 +1):
        column_movimentos.append('Estoque-{}/{}'.format(m,ano_inicial))
        column_movimentos.append('Admissões-{}/{}'.format(m,ano_inicial))
        column_movimentos.append('Desligamentos-{}/{}'.format(m,ano_inicial))
        column_movimentos.append('Saldos-{}/{}'.format(m,ano_inicial))
        
    for a in range(ano_inicial+1,ano_final + 1):
        for m in range(1,12 +1):
            column_movimentos.append('Estoque-{}/{}'.format(m,a))
            column_movimentos.append('Admissões-{}/{}'.format(m,a))
            column_movimentos.append('Desligamentos-{}/{}'.format(m,a))
            column_movimentos.append('Saldos-{}/{}'.format(m,a))
else:
    for a in range(ano_inicial,ano_final + 1):
        for m in range(1,12 +1):
            column_movimentos.append('Estoque-{}/{}'.format(m,a))
            column_movimentos.append('Admissões-{}/{}'.format(m,a))
            column_movimentos.append('Desligamentos-{}/{}'.format(m,a))
            column_movimentos.append('Saldos-{}/{}'.format(m,a))

In [13]:
column_ids = ['Grupamento_Atividades']
column_names = column_ids + column_movimentos[0:(total_meses)*4]

In [14]:
tb_caged.set_axis(column_names, axis=1,inplace=True)
tb_caged_transposed = tb_caged.melt(column_ids, var_name='Movimentação', value_name='Quantidade')
tb_caged_transposed[['Movimentação','Período']] = tb_caged_transposed['Movimentação'].str.split('-',expand=True)
tb_caged_transposed['Quantidade'] = pd.to_numeric(tb_caged_transposed['Quantidade'],errors='coerce',downcast='integer').fillna(0).astype(int)

In [15]:
tb_caged_transposed.head()

,Grupamento_Atividades,Movimentação,Quantidade,Período
0,Total,Estoque,37502058,1/2020
1,"Agricultura, pecuária, produção florestal, pes...",Estoque,1427862,1/2020
2,Indústria geral,Estoque,7550221,1/2020
3,Indústrias Extrativas,Estoque,218065,1/2020
4,Indústrias de Transformação,Estoque,6860903,1/2020

In [16]:
list_l1 = ['Total','Indústria geral','Serviços','Informação, comunicação e atividades financeiras, imobiliárias, profissionais e administrativas','Administração pública, defesa e seguridade social, educação, saúde humana e serviços sociais','Outros serviços']

#tb_caged.drop(rows=tb_caged.columns[(tb_caged not in list_l1).any()], inplace = True)


tb_caged_transposed = tb_caged_transposed[~tb_caged_transposed.Grupamento_Atividades.isin(list_l1)]
#tb_caged = tb_caged.loc[tb_caged['Unnamed: 1'] not in list_l1]
tb_caged_transposed

,Grupamento_Atividades,Movimentação,Quantidade,Período
1,"Agricultura, pecuária, produção florestal, pes...",Estoque,1427862,1/2020
3,Indústrias Extrativas,Estoque,218065,1/2020
4,Indústrias de Transformação,Estoque,6860903,1/2020
5,Eletricidade e Gás,Estoque,127679,1/2020
6,"Água, Esgoto, Atividades de Gestão de Resíduos...",Estoque,343574,1/2020
...,...,...,...,...
4586,Serviços domésticos,Saldos,26,5/2023
4588,"Artes, Cultura, Esporte e Recreação",Saldos,2334,5/2023
4589,Outras Atividades de Serviços,Saldos,4839,5/2023
4590,Organismos Internacionais e Outras Instituiçõe...,Saldos,10,5/2023
4591,Não identificado***,Saldos,-3,5/2023

In [17]:
tb_caged_transposed.to_csv(r'tabela_6_normalizada.csv',sep = ';',encoding='utf-8-sig',index=False)

In [18]:
tb_caged_ajustada = tb_caged_transposed.pivot(index=['Grupamento_Atividades','Período'], columns=["Movimentação"], values="Quantidade").reset_index()

In [19]:
tb_caged_transposed

,Grupamento_Atividades,Movimentação,Quantidade,Período
1,"Agricultura, pecuária, produção florestal, pes...",Estoque,1427862,1/2020
3,Indústrias Extrativas,Estoque,218065,1/2020
4,Indústrias de Transformação,Estoque,6860903,1/2020
5,Eletricidade e Gás,Estoque,127679,1/2020
6,"Água, Esgoto, Atividades de Gestão de Resíduos...",Estoque,343574,1/2020
...,...,...,...,...
4586,Serviços domésticos,Saldos,26,5/2023
4588,"Artes, Cultura, Esporte e Recreação",Saldos,2334,5/2023
4589,Outras Atividades de Serviços,Saldos,4839,5/2023
4590,Organismos Internacionais e Outras Instituiçõe...,Saldos,10,5/2023
4591,Não identificado***,Saldos,-3,5/2023

In [20]:
tb_caged_ajustada = tb_caged_ajustada[['Grupamento_Atividades','Período', 'Estoque', 'Admissões', 'Desligamentos', 'Saldos']]

In [21]:
tb_caged_ajustada

Movimentação,Grupamento_Atividades,Período,Estoque,Admissões,Desligamentos,Saldos
0,"Administração Pública, Defesa e Seguridade Social",1/2020,977901,3961,4406,-445
1,"Administração Pública, Defesa e Seguridade Social",1/2021,975935,6800,4582,2218
2,"Administração Pública, Defesa e Seguridade Social",1/2022,976305,6084,4869,1215
3,"Administração Pública, Defesa e Seguridade Social",1/2023,1003020,16266,8022,8244
4,"Administração Pública, Defesa e Seguridade Social",10/2020,991552,1881,2435,-554
...,...,...,...,...,...,...
897,"Água, Esgoto, Atividades de Gestão de Resíduos...",8/2021,356043,8843,7423,1420
898,"Água, Esgoto, Atividades de Gestão de Resíduos...",8/2022,378308,11040,8706,2334
899,"Água, Esgoto, Atividades de Gestão de Resíduos...",9/2020,341454,7179,5712,1467
900,"Água, Esgoto, Atividades de Gestão de Resíduos...",9/2021,357475,8737,7305,1432
901,"Água, Esgoto, Atividades de Gestão de Resíduos...",9/2022,379663,9362,8007,1355

In [22]:
tb_caged_ajustada.to_csv(r'tabela_6_ajustada.csv',sep = ';',encoding='utf-8-sig',index=False)