# CASE 1

> This analysis is an answer to the first case problem from the first chapter of the book "Introduction to Management Science" from the author Bernard W. Taylor. 

When Molly Lai purchased the Clean Clothes Corner Laundry, she thought that because it was in a good location near several high-income neighborhoods, she would automatically generate good business if she improved the laundry's physical appearance. Thus, she initially invested a lot of her cash reserves in remodeling the exterior and interior of the laundry. However, she just about broke even in the year following her acquisition of the laundry, which she didn't feel was a sufficient return, given how hard she had worked. Molly didn't realize that the dry-cleaning business is very competitive and that success is based more on price and quality service,
including quickness of service, than on the laundry's appearance. 

In order to improve her service, Molly is considering purchasing new dry-cleaning equipment, including a pressing machine that could substantially increase the speed at which she can dry-clean clothes and improve their appearance. The new machinery costs \\$16,200 installed and can clean 40 clothes items per hour (or 320 items per day). Molly estimates her variable costs to be \\$0.25 per item dry-cleaned, which will not change if she purchases the new equipment. Her current fixed costs are $1,700 per month. She charges customers \\$1.10 per clothing item.

1. What is Molly's current monthly volume? 
2. If Molly purchases the new equipment, how many additional items will she have to dry-clean each month to break even?
3. Molly estimates that with the new equipment she can increase her volume to 4,300 items per month. What monthly profit would she realize with that level of business during the next 3 years? After 3 years?
4. Molly believes that if she doesn't buy the new equipment but lowers her price to \\$0.99 per item, she will increase her business volume. If she lowers her price, what will her new break-even volume be? If her price reduction results in a monthly volume of 3,800 items, what will her monthly profit be?
5. Molly estimates that if she purchases the new equipment and lowers her price to \\$0.99 per item, her volume will increase to about 4,700 units per month. Based on the local market, that is the largest volume she can realistically expect. What should Molly do?

In [1]:
import pandas as pd

In [2]:
# function to return cost, total revenue and profit
def crp(f_cost, v_cost,price,volume):
    total_cost = f_cost + (v_cost*volume)
    total_revenue = volume*price
    profit = total_revenue - total_cost
    return total_cost,total_revenue,profit

# function to return break-even point
def bep(f_cost, v_cost,price):
    volume = f_cost/(price - v_cost)
    return volume

In [3]:
# ITEM 1
#parameters
f_cost = 1700 # $ per month
v_cost = 0.25 # $ per item
price = 1.1 # $ per item
working_days = 21 # days (estimated)

# If Molly is about to break even, we can consider the break-even point as the current volume.

print("Molly's current volume per month is {:.0f}.".format(bep(f_cost, v_cost,price)))
print("This means that Molly dries in average {:.0f} itens per day considering {} working days per month."
      .format(bep(f_cost, v_cost,price)/working_days,working_days))

Molly's current volume per month is 2000.
This means that Molly dries in average 95 itens per day considering 21 working days per month.

In [4]:
# ITEM 2 - Considering the break-even in a month and the new machinery at full capacity
#parameters
machinery_cost = 16200 # $
new_f_cost = f_cost + machinery_cost # $
volume_per_day = 320 # items per day

initial_volume = int(bep(f_cost, v_cost,price))
new_volume = int(bep(new_f_cost, v_cost,price))

print("Molly needs to dry-clean {:.0f} additional itens to break even in a single month."
      .format(new_volume - initial_volume))

Molly needs to dry-clean 19059 additional itens to break even in a single month.

> This volume is not feasable. She would need to surpass the full capacity of the new machine to break-even in a month. Which means that there's no specific volume of items to be dry-cleaned in a month.

In [5]:
# ITEM 3

# The idea here is to develop a cash flow analysis.
# It's been considered that the starting point of the analysis is at the break even of the laundry before buying the new machine
volume = 4300 # items -  accordinly to the question, this is the volume Molly expects

# I will consider the initial cost as the monthly operational cost and the cost of the machinery will be considered in a diferent variable.
op_cost = 1700 # $ per month 
v_cost = 0.25 # $ per item
price = 1.1 # $ per item
machinery_cost = 16200 # $

number_of_years = 4

combinations = []
for m in range(0,number_of_years*12):
    combinations.append([m, op_cost + (v_cost*volume), volume*price, 0, 0, 0, 0, 0])

for m in range(0,number_of_years*12):
    if m == 0:
        combinations[0][3] = machinery_cost

        if machinery_cost>= combinations[0][2] - combinations[0][1]:
            combinations[0][4] = combinations[0][2] - combinations[0][1]
        else: combinations[0][4] = machinery_cost
    else:
        combinations[m][3] = combinations[m-1][3] - combinations[m-1][4]

        if combinations[m][3]>= combinations[0][2] - combinations[0][1]:
            combinations[m][4] = combinations[0][2] - combinations[0][1]
        else: combinations[m][4] = combinations[m][3]
    
    combinations[m][5] = combinations[m][3] - combinations[m][4]
    combinations[m][6] = combinations[m][1] + combinations[m][3]
    combinations[m][7] = combinations[m][2] - combinations[m][6] 

df = pd.DataFrame(combinations, columns=['month', 'op_cost','revenue', 'machinery_cost','paid_machinery','outstanding_machinery','total_cost','profit'])
df

,month,op_cost,revenue,machinery_cost,paid_machinery,outstanding_machinery,total_cost,profit
0,0,2775.0,4730.0,16200.0,1955.0,14245.0,18975.0,-14245.0
1,1,2775.0,4730.0,14245.0,1955.0,12290.0,17020.0,-12290.0
2,2,2775.0,4730.0,12290.0,1955.0,10335.0,15065.0,-10335.0
3,3,2775.0,4730.0,10335.0,1955.0,8380.0,13110.0,-8380.0
4,4,2775.0,4730.0,8380.0,1955.0,6425.0,11155.0,-6425.0
5,5,2775.0,4730.0,6425.0,1955.0,4470.0,9200.0,-4470.0
6,6,2775.0,4730.0,4470.0,1955.0,2515.0,7245.0,-2515.0
7,7,2775.0,4730.0,2515.0,1955.0,560.0,5290.0,-560.0
8,8,2775.0,4730.0,560.0,560.0,0.0,3335.0,1395.0
9,9,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
10,10,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
11,11,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
12,12,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
13,13,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
14,14,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
15,15,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
16,16,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
17,17,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
18,18,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
19,19,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
20,20,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
21,21,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
22,22,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
23,23,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
24,24,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
25,25,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
26,26,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
27,27,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
28,28,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
29,29,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
30,30,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
31,31,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
32,32,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
33,33,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
34,34,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
35,35,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
36,36,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
37,37,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
38,38,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
39,39,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
40,40,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
41,41,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
42,42,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
43,43,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
44,44,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
45,45,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
46,46,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0
47,47,2775.0,4730.0,0.0,0.0,0.0,2775.0,1955.0

In [6]:
# ITEM 4

new_price = 0.99 # per item

f_cost = 1700 # per month
v_cost = 0.25 # per item
working_days = 21 # estimated

print("Molly's break even volume will be {:.0f}.".format(bep(f_cost, v_cost,new_price)))

volume  = 3800 # per month
_,_,profit = crp(f_cost, v_cost,new_price,volume)

print('The profit will be ${} for a monthly volume of {}'.format(profit, volume))

Molly's break even volume will be 2297.
The profit will be $1112.0 for a monthly volume of 3800

In [7]:
# ITEM 5

'''
Molly estimates that if she purchases the new equipment and lowers her price to \\$0.99 per item, 
her volume will increase to about 4,700 units per month. 
Based on the local market, that is the largest volume she can realistically expect. What should Molly do?
'''
volume = 4700 # accordinly to the question, this is the volume Molue expects

# I will consider the initial cost as the monthly fixed cost and the cost of the machinery will be considered in a diferent variable.
op_cost = 1700 # per month 
v_cost = 0.25 # per item
price = .99 # per item

number_of_years = 4

combinations = []
for m in range(0,number_of_years*12):
    combinations.append([m, op_cost + (v_cost*volume), volume*price, 0, 0, 0, 0, 0])

for m in range(0,number_of_years*12):
    if m == 0:
        combinations[0][3] = machinery_cost

        if machinery_cost>= combinations[0][2] - combinations[0][1]:
            combinations[0][4] = combinations[0][2] - combinations[0][1]
        else: combinations[0][4] = machinery_cost
    else:
        combinations[m][3] = combinations[m-1][3] - combinations[m-1][4]

        if combinations[m][3]>= combinations[0][2] - combinations[0][1]:
            combinations[m][4] = combinations[0][2] - combinations[0][1]
        else: combinations[m][4] = combinations[m][3]
    
    combinations[m][5] = combinations[m][3] - combinations[m][4]
    combinations[m][6] = combinations[m][1] + combinations[m][3]
    combinations[m][7] = combinations[m][2] - combinations[m][6] 

df = pd.DataFrame(combinations, columns=['month', 'op_cost','revenue', 'machinery_cost','paid_machinery','outstanding_machinery','total_cost','profit'])
df

,month,op_cost,revenue,machinery_cost,paid_machinery,outstanding_machinery,total_cost,profit
0,0,2875.0,4653.0,16200.0,1778.0,14422.0,19075.0,-14422.0
1,1,2875.0,4653.0,14422.0,1778.0,12644.0,17297.0,-12644.0
2,2,2875.0,4653.0,12644.0,1778.0,10866.0,15519.0,-10866.0
3,3,2875.0,4653.0,10866.0,1778.0,9088.0,13741.0,-9088.0
4,4,2875.0,4653.0,9088.0,1778.0,7310.0,11963.0,-7310.0
5,5,2875.0,4653.0,7310.0,1778.0,5532.0,10185.0,-5532.0
6,6,2875.0,4653.0,5532.0,1778.0,3754.0,8407.0,-3754.0
7,7,2875.0,4653.0,3754.0,1778.0,1976.0,6629.0,-1976.0
8,8,2875.0,4653.0,1976.0,1778.0,198.0,4851.0,-198.0
9,9,2875.0,4653.0,198.0,198.0,0.0,3073.0,1580.0
10,10,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
11,11,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
12,12,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
13,13,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
14,14,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
15,15,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
16,16,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
17,17,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
18,18,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
19,19,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
20,20,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
21,21,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
22,22,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
23,23,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
24,24,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
25,25,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
26,26,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
27,27,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
28,28,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
29,29,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
30,30,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
31,31,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
32,32,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
33,33,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
34,34,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
35,35,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
36,36,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
37,37,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
38,38,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
39,39,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
40,40,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
41,41,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
42,42,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
43,43,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
44,44,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
45,45,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
46,46,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0
47,47,2875.0,4653.0,0.0,0.0,0.0,2875.0,1778.0

In [8]:
volume = 4300 # accordinly to the question, this is the volume Molly expects

# I will consider the initial cost as the monthly fixed cost and the cost of the machinery will be considered in a diferent variable.
op_cost = 1700 # $ per month 
v_cost = 0.25 # $ per item
price = .99 # $ per item
machinery_cost = 16200 # $

number_of_years = 4 #years

['month', 'op_cost','revenue', 'machinery_cost','paid_machinery','outstanding_machinery','total_cost', 'profit']

combinations = []
for m in range(0,number_of_years*12):
    combinations.append([m, op_cost + (v_cost*volume), volume*price, 0, 0, 0, 0, 0])

for m in range(0,number_of_years*12):
    if m == 0:
        combinations[0][3] = machinery_cost

        if machinery_cost>= combinations[0][2] - combinations[0][1]:
            combinations[0][4] = combinations[0][2] - combinations[0][1]
        else: combinations[0][4] = machinery_cost
    else:
        combinations[m][3] = combinations[m-1][3] - combinations[m-1][4]

        if combinations[m][3]>= combinations[0][2] - combinations[0][1]:
            combinations[m][4] = combinations[0][2] - combinations[0][1]
        else: combinations[m][4] = combinations[m][3]
    
    combinations[m][5] = combinations[m][3] - combinations[m][4]
    combinations[m][6] = combinations[m][1] + combinations[m][3]
    combinations[m][7] = combinations[m][2] - combinations[m][6] 

df = pd.DataFrame(combinations, columns=['month', 'op_cost','revenue', 'machinery_cost','paid_machinery','outstanding_machinery','total_cost','profit'])
df

,month,op_cost,revenue,machinery_cost,paid_machinery,outstanding_machinery,total_cost,profit
0,0,2775.0,4257.0,16200.0,1482.0,14718.0,18975.0,-14718.0
1,1,2775.0,4257.0,14718.0,1482.0,13236.0,17493.0,-13236.0
2,2,2775.0,4257.0,13236.0,1482.0,11754.0,16011.0,-11754.0
3,3,2775.0,4257.0,11754.0,1482.0,10272.0,14529.0,-10272.0
4,4,2775.0,4257.0,10272.0,1482.0,8790.0,13047.0,-8790.0
5,5,2775.0,4257.0,8790.0,1482.0,7308.0,11565.0,-7308.0
6,6,2775.0,4257.0,7308.0,1482.0,5826.0,10083.0,-5826.0
7,7,2775.0,4257.0,5826.0,1482.0,4344.0,8601.0,-4344.0
8,8,2775.0,4257.0,4344.0,1482.0,2862.0,7119.0,-2862.0
9,9,2775.0,4257.0,2862.0,1482.0,1380.0,5637.0,-1380.0
10,10,2775.0,4257.0,1380.0,1380.0,0.0,4155.0,102.0
11,11,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
12,12,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
13,13,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
14,14,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
15,15,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
16,16,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
17,17,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
18,18,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
19,19,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
20,20,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
21,21,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
22,22,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
23,23,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
24,24,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
25,25,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
26,26,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
27,27,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
28,28,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
29,29,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
30,30,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
31,31,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
32,32,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
33,33,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
34,34,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
35,35,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
36,36,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
37,37,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
38,38,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
39,39,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
40,40,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
41,41,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
42,42,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
43,43,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
44,44,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
45,45,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
46,46,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0
47,47,2775.0,4257.0,0.0,0.0,0.0,2775.0,1482.0

> Consider the largest volume possible in the market should be avoided. Fluctiations in market price, economy, energy bills etc could impact severely the financial results and the projections. Furthermore, it would take 10 months to break-even with a volume of 4700 per month and 12 months to break-even with a volume of 4300 per month. A more conservative approach is advisable.